<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title><%= @title %></title>
</head>
	<body>

		<header>

			<h1>Michael Yihua Zhang CRM</h1>

		</header>
	
		<ul class="menu">
				<li class="tag"><a href="/contacts">View all contacts</a></li>
				<li class="tag"><a href="/contacts/new">Add a new contact</a></li>
		</ul>

		<%= yield %>
	
	<footer>Zhang</footer>

	</body>
</html>